.formato{
    width: 500px;
    height: 500px;
    background: #001aff;
    border-radius: 10px;
}
.texto{
    width: 250px;
    height: 250px;
    background: #775fff;
    border-radius: 20px;
}
p{
    color: #fff;
    background: #a1fffa;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}
.outraforma{
    width: 50%;
    height: 50vh;
    background: rgb(194, 92, 241);
    border-radius: 20px;
}
    .outroformato{
        width: 75vw;
        height: 50%;
        background: rgb(0, 255, 208);
        border-radius: 20px;
    }